include include.pug
include js-css.pug
doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="The treatment methods used are in line with the latest medical developments in the world")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		//- meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		//- meta(name="viewport",  content="width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no")
		//- script.
		//- 	let viewport = document.querySelector("meta[name=viewport]");
		//- 	var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
		//- 	if (is_safari) {
		//- 		//- alert(navigator.userAgent);
		//- 		function w() {
		//- 			this.outerWidth > 575 
		//- 				? viewport.content = "width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" 
		//- 				:  viewport.content = "width=575,   maximum-scale=1 , user-scalable=0, shrink-to-fit=no" 
		//- 			//- alert(this.outerWidth + ', '+  viewport.content);
		//- 		}
		//- 		 w();
		//- 		window.addEventListener('resize', () => { 
		//- 		 w();
		//- 		}, { passive: true });
		//- 	}
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no")
		<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
		<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta name="format-detection" content="telephone=no"> 
		+allcss()
		script.
			function addBlock(elem) {
				fetch(`parts/${elem}.html`)
					.then(response => response.text())
					.then( text => {
						const wrap = document.querySelector(`#${elem}Wrap`);
						wrap.insertAdjacentHTML('afterend', text);
							wrap.remove();
						}
					);
			}
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage)
		.main-wrapper
			block pagecontent
				h3 content
		

		+allcjs()
		block scripts