mixin sOurServices(data)
	// start sOurServices
	+b.SECTION.sOurServices.section#sOurServices&attributes(attributes)
		.container
			+b.section-title
				h2 Наши услуги
				p Выберите интересующую вас услугу и узнайте сроки и условия согласования
				
			+e.grid
				mixin item(title, ...items)
					+e.item
						.h4!= title
						ul
							each item in items
								li!= item 
				+e.grid-item
					+e.wrap
						+e.wrapper
							+item('Квартиры', '— Согласование перепланировки квартиры', '— Перепланировка апартаментов', '— Узаконить выполненную перепланировку', '— Перепланировка в новостройке', '— Перепланировка апартаментов', '— Разработка проектной документации', '— Изготовление технических планов', '— Согласование проема в несущей стене', '— Объединения комнаты с кухней', '— Объединение санузла')
							+item('Приемка квартир', '— Приемка квартир в новостройке')
				+e.grid-item
					+e.wrap
						+e.wrapper
							+item('Нежилые помещения', '— Перепланировка нежилых помещений', '— Перепланировка помещения «Под ключ»', '— Перевод из нежилого в жилое', '— Перевод из жилого в нежилое')
				+e.grid-item
					+e.wrap
						+e.wrapper
							+item('Прилегающая территория', '— Переустройство входной группы', '— Переустройство фасадов здания')
							+item('Авторский надзор', '— Контроль соответствия выполняемых работ по перепланировке')
				+e.grid-item
					+e.wrap
						+e.wrapper
							+item('Согласование', '— Согласование в БТИ', '— Согласование в Мосжилинспекции', '— Согласование в Росреестре', '— Согласование в Роспотребнадзоре', '— Согласование в ДГИ', '— Согласование в Стройнадзоре', '— Согласование в Москомархитектуре', '— Согласование в Мосгаз')
							+item('Самовольная постройка', '— Узаканивание самовольной постройки на любом этапе ', '— Исключение из 819 пп')
	// end sOurServices

mixin sOurServices2(data)
	// start sOurServices
	+b.SECTION.sOurServices--2.section#sOurServices&attributes(attributes)
		.container
			+b.section-title
				h2 Наши услуги
				p Выберите интересующую вас услугу и&nbsp;узнайте сроки и&nbsp;условия согласования
				
			+e.row.row
				mixin item(title, columns=1, ...items)
					+e.item
						.h4!= title
						ul(style=`columns: ${columns}`)
							each item in items
								li!= item 
				.col-12
					+e.wrap
						+e.wrapper
							+item('Квартиры', 3, '— Согласование перепланировки квартиры', '— Перепланировка в новостройке', '— Перепланировка апартаментов', '— Узаконить выполненную перепланировку', '— Разработка проектной документации', '— Изготовление технических планов', '— Перевод из жилого в нежилое', '— Приемка квартир в новостройке','— Согласование проема в несущей стене', '— Объединение санузла', '— Объединения комнаты с кухней')
				.col-md-6.col-lg
					+e.wrap
						+e.wrapper
							+item('Нежилые помещения', '', '— Перепланировка нежилых помещений', '— Перепланировка помещения «Под ключ»', '— Перевод из нежилого в жилое')
				.col-md-6.col-lg
					+e.wrap
						+e.wrapper
							+item('Прилегающая территория', '', '— Переустройство входной группы', '— Переустройство фасадов здания')
				+e.col.col-lg-auto
					+e.wrap
						+e.wrapper
							+item('Авторский надзор', '', '— Контроль соответствия выполняемых работ по перепланировке')
				.col-lg-8
					+e.wrap
						+e.wrapper
							+item('Согласование', '2', '— Согласование в БТИ', '— Согласование в Мосжилинспекции', '— Согласование в Росреестре', '— Согласование в Роспотребнадзоре', '— Согласование в ДГИ', '— Согласование в Стройнадзоре', '— Согласование в Москомархитектуре', '— Согласование в Мосгаз')
				.col-lg-4
					+e.wrap
						+e.wrapper
							+item('Самовольная постройка', '', '— Узаканивание самовольной постройки на любом этапе ', '— Исключение из 819 пп')
			+e.not-found
				.row
					.col-auto
						h2 Не&nbsp;нашли нужную услугу?
						p Оставьте заявку и&nbsp;наш специалист ответит на&nbsp;все ваши вопросы!
					+e.not-found-col.col.ms-lg-auto
						+e.btn.btn.btn-primary(type='button' data-src='modal-call' data-fancybox="modal") Оставить заявку